<%= form_tag :action => :create do %>
  <h4 class="text-center">Nueva Terminal</h4><br>
  <%= render 'form', nombre: 'Nueva Terminal '%>
  <div class="text-center">
    <table class="table">
      <tr>
        <td><small>Nota: Los campos marcados con * son obligatorios</small> <br><br>
          <%= submit_tag  'Guardar', class: 'btn btn-sm btn-primary', id: 'btnGuardar' ,onclick: 'return validarFormularioTerminal();'%>
          <%= link_to 'Cancelar', '#',id:"cancelar",class:'btn btn-danger btn-sm',data: {toggle: 'modal', target: '#ModalForm'} %>
      </tr>
    </table>
  </div>
<% end %>
