<!-- Leyenda que se mostrará durante la creación de la cookie y la realización del cambio de sucursal-->
<table class="table table-hover text-center">
  <tr>
    <td><h1><%= 'titulo de sucursal' %></h1></td>
  </tr>
  <tr>
    <td><h3>Cambiando su Sucursal y Terminal ........</h3></td>
  </tr>
</table>

<!-- script que direccionará al principal de la aplicación-->
<script type="text/javascript">
    window.location = "/"
</script>