<h4 align="center"> Configuración general</h4>
<table class="table text-center">
  <tr>
    <td><%= link_to 'Configuración general', empresas_path, class: 'btn btn-primary btn-sm' %></td>
  </tr><br>
  <tr>
    <td><%= link_to 'Cambio de sucursal', {:controller => :cambio_sucursal, :action => :index}, {class: 'btn btn-primary btn-sm'}%></td>
  </tr>
</table>

