<h4 class="text-center">Modificación de Inventario</h4>
    <%= form_for(@inventario) do |f| %>
      <div class="row">
        <%= render 'form', nombre: 'Editar inventario' %>
      </div>
    <% end %>
